<%= form_with model: article do |form| %>

  <h3><%= form.label :title %></h3>
  <div class="form-w"><%= form.text_field :title %></div>
  <% article.errors.full_messages_for(:title).each do |message| %>
    <div><%= message %></div>
  <% end %>


  <h3><%= form.label :body %></h3>
  <div class="form-w"><%= form.text_area :body %></div>
  <% article.errors.full_messages_for(:body).each do |message| %>
    <div><%= message %></div>
  <% end %>


  <p>
    <%= form.submit %>
  </p>
<% end %>